<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<!-- Extension point: The content types that suit TabNine application -->
	<extension point="org.eclipse.core.contenttype.contentTypes"> 
		<content-type id="tabnine.generictext"
			name="tabnine.generictext"
			base-type="org.eclipse.core.runtime.text"
			file-patterns="*"
		/>
	</extension>
	
	<!-- Extension point: The generic editor that associated with the content types of TabNine -->
	<extension point="org.eclipse.ui.editors">
		<editorContentTypeBinding
			contentTypeId="tabnine.generictext"
			editorId="org.eclipse.ui.genericeditor.GenericEditor">
		</editorContentTypeBinding>
	</extension>

	<!-- Extension point: The processors to compute content assist for Generic Text Editor using TabNine -->
	<extension point="org.eclipse.ui.genericeditor.contentAssistProcessors"
		id="tabnine.generictextCompletionProposalComputer"
		name="TabNine Generic Text Proposal Computer"
	>
		<contentAssistProcessor class="com.tabnine.eclipse.TabNineContentAssistProcessor"
			contentType="tabnine.generictext"
		></contentAssistProcessor>
	</extension>
	
	<!-- Extension point: The proposal category related to TabNine for Java Editor -->
	<extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
		id="TabNineJavaCompletionProposal"
		name="TabNine Java Proposals"
	>
		<proposalCategory icon="icon/tabnine-logo-16x16.png"></proposalCategory>
	</extension>
	
	<!-- Extension point: The computer to compute completion proposals for Java Editor using TabNine -->
	<extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
		id="TabNineJavaCompletionProposalComputer"
		name="TabNine Java Proposal Computer"
	>
		<javaCompletionProposalComputer class="com.tabnine.eclipse.TabNineJavaCompletionProposalComputer"
			activate="true"
			categoryId="com.tabnine.eclipse.TabNineJavaCompletionProposal"
			needsSortingAfterFiltering="true"
		>
			<!-- 
			<partition type="__java_string"/>
			<partition type="__java_javadoc"/>
			<partition type="__dftl_partition_content_type"/> 
			-->
			<!-- 
				If no partition types are specified, the computer is added to all partition types.
				See documentation in "Extension Point References" http://help.eclipse.org/index.jsp?topic=/org.eclipse.jdt.doc.isv/reference/extension-points/org_eclipse_jdt_ui_javaCompletionProposalComputer.html
			-->
		</javaCompletionProposalComputer>
	</extension>
	
	<!-- Extension point: The proposal category related to TabNine for JavaScript Editor -->
	<extension point="org.eclipse.wst.jsdt.ui.javaCompletionProposalComputer"
		id="TabNineJavaScriptCompletionProposal"
		name="TabNine JavaScript Proposals"
	>
		<proposalCategory icon="icon/tabnine-logo-16x16.png"></proposalCategory>
	</extension>
	
	<!-- Extension point: The computer to compute completion proposals for JavaScript Editor using TabNine -->
	<extension point="org.eclipse.wst.jsdt.ui.javaCompletionProposalComputer"
		id="TabNineJavaScriptCompletionProposalComputer"
		name="TabNine JavaScript Proposal Computer"
	>
		<javaCompletionProposalComputer class="com.tabnine.eclipse.TabNineJavaScriptCompletionProposalComputer"
			activate="true"
			categoryId="com.tabnine.eclipse.TabNineJavaScriptCompletionProposal"
			needsSortingAfterFiltering="true"
		>
		</javaCompletionProposalComputer>
	</extension>

</plugin>